In [2]:
import pandas as pd

df = pd.read_csv('./WA_Fn-UseC_-HR-Employee-Attrition.csv')

In [18]:
from google.cloud import bigquery

ModuleNotFoundError: No module named 'google.cloud'

In [3]:
PATH = 'https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/1.4.11_experimentation_guided_example/experiment_data_2_wks.csv'
experiment_data = pd.read_csv(PATH)

In [4]:
experiment_data

      treatment_date  test  is_signed_up signup_date
0         2016-04-01     0             0         NaN
1         2016-04-01     0             0         NaN
2         2016-04-01     0             0         NaN
3         2016-04-01     0             0         NaN
4         2016-04-01     0             0         NaN
...              ...   ...           ...         ...
33608     2016-04-14     0             0         NaN
33609     2016-04-14     0             0         NaN
33610     2016-04-14     1             0         NaN
33611     2016-04-14     0             0         NaN
33612     2016-04-14     0             0         NaN

[33613 rows x 4 columns]